POSTGRES=replace-with-postgres-url
PORT=1337
JWT_SECRET=replace-with-a-long-random-secret
EGGS_CONTRACT_ADDRESS=replace-with-eggs-contract-address
BASE_RPC_URL=replace-with-base-rpc-url
CHICKENS_SUPER_HEN_PRIVATE_KEY=replace-with-chickens-super-hen-private-key
